/*   font-family: "Outfit", sans-serif; */
/*   font-family: "Oxygen", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Oxygen:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --primary: #020324;
    --secondary: #67CAD8;
    --pen-blue: #04174f;
    --white: #f5f5f5;
    --second-white: #d8d8d8;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--white);
    font-family: 'Oxygen', sans-serif;
}

/* The header */
.header {
    position: sticky;
    top: 0;
    width: 100%;
    height: min-content;
    background-color: var(--primary);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    z-index: 3;
    transition: 0.3s;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    cursor: pointer;
}

/* Logo */
.logo a {
    width: 20%;
    text-decoration: none;
    color: var(--white);
    display: inline-flex;
    align-items: center;
}

.logo a img {
    display: block;
    width: 80px;
    aspect-ratio: 1/1;
}

.logo a .logo-text {
    font-family: "Bruno Ace", sans-serif;
    font-size: xx-large;
}

/* Navigation bar */
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation .menu {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    z-index: 1;
    transition: 0.5s;
}

.navigation .menu li {
    list-style-type: none;
}

.navigation .menu li a {
    font-family: "Outfit", sans-serif;
    text-decoration: none;
    color: var(--white);
    display: block;
    padding: 40px 25px;
    font-size: 18px;
    line-height: 1;
    transition: 0.3s;
}

.navigation .menu li a:hover,
.navigation .menu li a.active {
    box-shadow: 0 -5px 0px var(--secondary) inset, 500px 0 0 rgba(255, 255, 255, 0.03) inset;
    padding: 35px 25px 45px 25px;
    color: var(--secondary);
}



.navigation .burger-menu {
    position: relative;
    width: 30px;
    height: 4px;
    background-color: var(--white);
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
    transition: 0.3s;
}

.navigation .burger-menu::before,
.navigation .burger-menu::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 4px;
    right: 0;
    background-color: var(--white);
    border-radius: 10px;
    transition: 0.3s;
}

.navigation .burger-menu::before {
    top: -10px;
}

.navigation .burger-menu::after {
    top: 10px;
}

.navigation #check {
    position: absolute;
    width: 30px;
    height: 100%;
    z-index: 3;
    cursor: pointer;
    opacity: 0;
}

.navigation .burger-menu,
.navigation #check {
    display: none;
}

.navigation #check:checked~.burger-menu {
    background-color: transparent;
}

.navigation #check:checked~.burger-menu::before {
    top: 0;
    transform: rotate(-45deg);
}

.navigation #check:checked~.burger-menu::after {
    top: 0;
    transform: rotate(45deg);
}

.navigation #check:checked~.menu {
    right: 0;
    box-shadow: -20px 0 40px rgba(0, 0, 0, 0.3);
}

/* Hero image  */
main .hero {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.76)), url("../assets/img/airplane-7766079_1920.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 85vh;
    z-index: 1;
}

@keyframes slideHr {
    0% {
        width: 0;
    }
    50% {
        width: 20%;
    }
    100% {
        width: 40%;
    }
}



main .hero hr {
    width: 40%;
    height: 3px;
    background-color: var(--second-white);
    border: none;
    border-radius: 5px;
    animation: slideHr 1s ease-in 0 1 normal none;
}



main .hero .hero-text {
    font-size: 3.5vw;
    font-family: 'Oxygen', sans-serif;
    font-weight: bolder;
    color: var(--second-white);
    line-height: 1.5;
}

main .hero p {
    font-size: 2vw;
    font-weight: bold;
    color: var(--second-white);
}

main .hero .buttons {
    display: inline-flex;
    justify-content: space-evenly;
    width: 35vw;
    padding: 50px;
}

main .hero .buttons button {
    width: 8vw;
    height: 5vh;
    background-color: var(--second-white);
    font-size: 1vw;
    border: none;
    transition: 0.5s;
    border-radius: 12px;
}

main .hero .buttons button a {
    width: 100%;
    height: 100%;
    color: var(--primary);
    font-weight: bold;
}

main .hero .buttons button:hover {
    background-color: var(--primary);
    color: var(--white);
}


/* main {
    width: 100%;
    background-image: url("../assets/img/passengers.jpg");
    background-position: center;
    background-size: cover;
    margin-top: 85vh;
} */


@media screen and (max-width: 850px) {

    .navigation .burger-menu,
    .navigation #check {
        display: block;
    }

    .navigation .menu {
        justify-content: start;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 0;
        right: -200px;
        background-color: var(--primary);
        width: 200px;
        height: 100%;
        padding-top: 80px;
    }

    .navigation .menu li {
        width: 100%;
    }

    .navigation .menu li a,
    .navigation .menu li a:hover {
        padding: 30px;
        font-size: 20px;
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
    }

    .hero .buttons {
        justify-content: space-between;
        width: 60vw;
    }

    .hero .buttons button {
        font-size: medium;
        width: 16vw;
    }
}

@media screen and (max-width: 600px) {
    .logo a img {
        width: 60px;
    }

    .logo a .logo-text {
        font-size: medium;
    }

    .navigation .burger-menu {
        width: 25px;
        height: 3px;
    }

    .navigation .burger-menu::before,
    .navigation .burger-menu::after {
        width: 25px;
        height: 3px;
    }

    .navigation .burger-menu::before {
        top: -8px;
    }

    .navigation .burger-menu::after {
        top: 8px;
    }

    .navigation .menu {
        width: 150px;
        right: -150px;
        padding-top: 59px;
    }

    .navigation .menu li a,
    .navigation .menu li a:hover {
        padding: 20px;
        font-size: 12px;
    }

    .hero .hero-text {
        font-size: 5vw;
        margin: 15px ;
    }

    .hero p {
        font-size: 4.5vw;
    }

    .hero .buttons {
        justify-content: space-between;
        width: 60vw;
    }

    .hero .buttons button {
        font-size: medium;
        width: 16vw;
    }
}